<ion-view view-title="AdPost" >
  <ion-content >

<div class="list card adpage">

  <div class="item">
    <h2 class="adTop">{{adData.ad.title}}</h2>
    <h3 class="adTop">Prix: {{adData.ad.ad_fields.price}}</h3>
    <p class="adTop">Ville {{adData.ad.city}}</p>
  </div>

  <div class="item ">
    <ion-slide-box >
        <ion-slide ng-repeat="img in images ">
  <img ng-src="{{img}}" id="slideimagesinpost" style="width:300px;height:300px;margin:auto;display:block">

        </ion-slide>
</ion-slide-box>
  </div>

  <div class="item">
  <p id="adOwner">Vendeur : {{adData.owner.username}}</p>
  </div>
 <div class="item item-icon-right item-icon-left">
  <a class="icon  ion-ios-telephone" ng-href="tel: {{adData.ad.ad_fields.phone_number}}"></a>
    
      <p> {{adData.ad.ad_fields.phone_number}}</p>

   <a class="icon  icon ion-chatbubble-working" ng-href="sms: {{adData.ad.ad_fields.phone_number}}"></a>
  </div>

 

    
  <div class="item item-body">

  <p id="adDetailHeading">Detail du Produit</p>
  <p class="text-wrap">{{adData.ad.ad_fields.more_detail}}</p>

</div> 

<div class="spacer" style="height: 40px;"></div> 

 </div>

  </ion-content>


</ion-view>

