<ion-view view-title="Ajouter des Images" ng-init = "init_op()">
  <ion-content ng-show="show_page">
 
  	

  
    <div class="row">

    	<div class="col col-50">
    		<img class="img_add" ng-src={{img_1_src}}>
    	</div>
    	<div class="col col-50">

    	<div ng-show="show_img_1" >
    		<button class="button button-full button-balanced" ng-click="action_one()">image</button>
    	</div>

    	<div ng-show="!show_img_1" >
    		<div class="row">
    			<div class="col col-50">
    				 <button class="button  button-small button-full button-balanced" ng-click="do_change_one()">Modifier</button>

    			</div>
    			<div class="col col-50" > 
    		<button class="button  button-small button-full button-assertive"ng-click = "delete_one()">Supprimer</button>

    			</div>
    		</div>
    	</div>
    		
    	</div>


    	
    </div>
    <div class="row">

    	<div class="col col-50">
    		<img class="img_add" ng-src={{img_2_src}}>
    	</div>
    	<div class="col col-50">

    	<div ng-show="show_img_2">
    		<button class="button button-full button-balanced" ng-click="action_two()"> Image</button>
    	</div>

    	<div ng-show="!show_img_2">
    		<div class="row">
    			<div class="col col-50">
    				 <button class="button  button-small button-full button-balanced" ng-click="do_change_two()">Modifier</button>

    			</div>
    			<div class="col col-50" > 
    		<button class="button  button-small button-full button-assertive" ng-click = "delete_two()">Supprimer</button>

    			</div>
    		</div>
    	</div>
    		
    	</div>


    	
    </div>
    <div class="row">

    	<div class="col col-50">
    		<img class="img_add" ng-src={{img_3_src}}>
    	</div>
    	<div class="col col-50">

    	<div ng-show="show_img_3">
    		<button class="button button-full button-balanced" ng-click="action_three()">Image</button>
    	</div>

    	<div ng-show="!show_img_3">
    		<div class="row">
    			<div class="col col-50">
    				 <button class="button  button-small button-full button-balanced" ng-click="do_change_three()">Modifier</button>

    			</div>
    			<div class="col col-50" > 
    		<button class="button  button-small button-full button-assertive" ng-click = "delete_three()">Supprimer</button>

    			</div>
    		</div>
    	</div>
    		
    	</div>


    	
    </div>
    <div class="row">

    	<div class="col col-50">
    		<img class="img_add"ng-src={{img_4_src}}>
    	</div>
    	<div class="col col-50">

    	<div ng-show="show_img_4" >
    		<button class="button button-full button-balanced" ng-click="action_four()"> Image</button>
    	</div>

    	<div ng-show="!show_img_4" >
    		<div class="row">
    			<div class="col col-50">
    				 <button class="button  button-small button-full button-balanced" ng-click="do_change_four()">Modifier</button>

    			</div>
    			<div class="col col-50" > 
    		<button class="button  button-small button-full button-assertive" ng-click = "delete_four()">Supprimer</button>

    			</div>
    		</div>
    	</div>
    		
    	</div>


    	
    </div>
    <div class="row">

    	<div class="col col-50">
    		<img class="img_add" ng-src={{img_5_src}}>
    	</div>
    	<div class="col col-50">

    	<div ng-show="show_img_5">
    		<button class="button button-full button-balanced" ng-click="action_five()">Image</button>
    	</div>

    	<div ng-show="!show_img_5">
    		<div class="row">
    			<div class="col col-50">
    				 <button class="button  button-small button-full button-balanced" ng-click="do_change_five()">Modifier</button>

    			</div>
    			<div class="col col-50" > 
    		<button class="button  button-small button-full button-assertive" ng-click = "delete_five()">Supprimer</button>

    			</div>
    		</div>
    	</div>
    		
    	</div>


    	
    </div>


    		<div class="spacer" style="height: 40px;"></div>

        <div>
            <button class="button button-full button-balanced" ng-click="done_btn()">Fini</button>
        </div>
            <div class="spacer" style="height: 40px;"></div>


  </ion-content>
</ion-view>