<ion-view view-title="Categorie" cache-view="false">
  <ion-content>
		<div class="list">

		    <a class="item item-thumbnail-left" ng-repeat = "ad in data track by ad.ad.id" href="#/app/adpage/{{ad.id}}">

		<img ng-if ="ad.imgs.img_1.image.main == null" src="http://kadiel.com/media/__sized__/__placeholder__/no_image400-thumbnail-400x400.jpg">
		   
		    	<img ng-if = "ad.imgs.img_1.image.main !== null" ng-src="{{ad.imgs.img_1.image.main}}">
		    
		      
		      <h2>{{ad.ad.title}}</h2>
		      <p>Prix: {{ad.ad.ad_fields.price}}</p>
		      
		    </a>

		    

		</div>
		<div class="spacer" style="height: 40px;"></div>
	<ion-infinite-scroll ng-if="do_load" icon="ion-loading-c" on-infinite="loadMoreData()">
	</ion-infinite-scroll>
		<div ng-show="check">
			<p>
Pas encore messages</p>
		</div>

  </ion-content>
</ion-view>