<ion-view view-title="create post">

	<ion-content>
		<form ng-submit="prepare(content)" name="postForm" ng-validate= "">
			<ion-list>
			  
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Titre</span>
			    <input type="text" ng-model="content.title" name="title" required>
			  </label>
			  <div ng-messages="postForm.title.$error" 
                    class="form-errors" ng-if="postForm.title.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
             </div>
			    
			    <label class="item item-input item-select  ">
				    <div class="input-label">
				      Categorie
				    </div>
				    <select ng-model="content.category">
				      <option value="1" ng-selected="cat_selected">Telephone Portables</option>
				      <option value="2">Television</option>
				      <option value="8">Immobilier</option>
				      <option value="4">Voitures</option>
				      <option value="5">Vetements</option>
				      <option value="6">Chaussures</option>
				      <option value="7">bazin</option>
				      <option value="9">Livres</option>
				    </select>
				  </label>
				
				<label class="item item-input item-stacked-label">
			    <span class="input-label">prix</span>
			    <input type="number" ng-model="content.price" name="price" required>
			  </label>
			  <div ng-messages="postForm.price.$error" 
                    class="form-errors" ng-if="postForm.price.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
             </div>
			

			 
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Ville</span>
			    <input type="text" ng-model="content.location" name="location" required>
			  </label>
			  <div ng-messages="postForm.location.$error" 
                    class="form-errors" ng-if="postForm.location.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
             </div>
			 <label class="item item-input item-select">
				    <div class="input-label">
				      Option de delivery
				    </div>
				    <select ng-model="content.delivery">
				      <option value="d" >Livraison</option>
				      <option value="p" ng-selected="opt_selected">Récupération</option>
				      <option value="m">Se rencontrer</option>
				    </select>
				  </label>	

			 <label class="item item-input item-stacked-label">
			    <span class="input-label">Numero de Telephone</span>
			    <input type="number" ng-model="content.phonenumber" name="telephone" required>
			  </label>
			  <div ng-messages="postForm.telephone.$error" 
                    class="form-errors" ng-if="postForm.telephone.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
             </div>
			
			<label class="item item-input item-stacked-label">
			    <span class="input-label" >Detail du Produit</span>
			   	<textarea ng-model= "content.moredetail" name="moredetail" required>
			   		
			   	</textarea>

			  </label>
			  <div ng-messages="postForm.moredetail.$error" 
                    class="form-errors" ng-if="postForm.moredetail.$touched">
                      <div class="form-error" ng-message="required">CCe champ est requis</div>
             </div>

			  <div class="spacer" style="height: 20px;"></div>

			</ion-list>
			<input type="Submit" value="Créer" class="button button-block button-balanced " ng-disabled="postForm.$invalid">
		</form>

	

		<div class="spacer" style="height: 40px;"></div>
		
	</ion-content>

</ion-view>