<ion-view view-title="modifier">
  <ion-content>
    <button class="button button-block button-energized" ng-click="do_edit_image()">Modifier Image</button>
    <div class="spacer" style="height: 40px;"></div>
    <button class="button button-block button-energized" ng-click="do_edit_ad()"> Modifier compte post</button>
    
  </ion-content>
</ion-view>