<ion-view view-title="{{title}}">
  <ion-content>

<div class="list card">

  <div class="item">
    <h2>{{event.ev_title}}</h2>
    <!-- <p>{{ 2016-04-08T00:00:00Z }}</p>
 -->
 <span ng-non-bindable></span>
    <span></span><br>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{event.ev_art.image.main}}">
    <p>

      <p>
       Prix:  {{event.ev_price}}
      </p>
    </p>
    
    <div class="row">

    	<div class="col">

    	<lable class="button button-block button-small button-assertive button-outline" ng-click="send_to_reserve()"> Disponible: {{event.ev_available_tickets}} </label>
    		
    	</div>

    	<div class="col">

    	<button class="button button-block button-small button-assertive button-outline" ng-click="send_to_reserve()"> réserver ici !!</button>
    		
    	</div>
    	
    </div>
  </div>


</div>

    
  </ion-content>
</ion-view>