<ion-view view-title="{{title}}">
  <ion-content>

		<div class="button-bar" id="spaceMeEvent">
		  <a class="button button-balanced "  ng-class="{'button-outline': outline_event}" ng-click="show_events()">Événements</a>
		  <a class="button button-balanced " ng-class="{'button-outline': outline_movie}" ng-click="show_movies()">Films</a>
		</div>


		<div class="fluid-me" ng-show="event_show">

			<a ng-repeat = "ev in events " href="#/app/event-detail/{{ev.id}}">
				
				<div class="fluid-me-child">

					<img src="{{ev.ev_art.image.main}}">

					<p>{{ev.ev_title}}</p>

					<p>Only <strong>{{ev.ev_available_tickets}}</strong> Available</p>

					<button class="button button-block button-assertive button-outline ">From {{ev.ev_price}}</button>
					
				</div>

			</a>
			


			
			
		</div>

		<div class="fluid-me" ng-hide="event_show">
			<a href="/app/event-detail/">


<!-- 				<div class="fluid-me-child">
						<img src="/img/phone.jpg">
						
				</div> -->
				
			</a>

			<h3>arrive bientôt</h3>
			


			
			
		</div>
    
  </ion-content>
</ion-view>