<ion-view view-title="Kadiel">
  <ion-content>
    <ion-list>

	    <a class="item item-thumbnail-left" href="#/app/event">
	      <img src="img/tickets.jpg">
	      <h2>Tickets</h2>
	      <p class="subdue" style="color: red;">Nouveau!!</p>
	      
	    </a>

	    <a class="item item-thumbnail-left" href="#/app/catsearch/smartphones">
	      <img src="img/phone.jpg">
	      <h2>Telephone Portables</h2>
	      
	    </a>

	   	  <a class="item item-thumbnail-left" href="#/app/catsearch/Television">
	      <img src="img/r_tv.jpg">
	      <h2>Television</h2>
	      <p></p>
	      
	    </a>

	    <a class="item item-thumbnail-left" href="#/app/catsearch/immobilier">
	      <img src="img/r_home.jpg">
	      <h2>Immobilier</h2>
	      
	    </a>

	   	  <a class="item item-thumbnail-left" href="#/app/catsearch/cars">
	      <img src="img/car.jpg">
	      <h2>Voiture</h2>
	      <p></p>
	      
	    </a>
	   <a class="item item-thumbnail-left" href="#/app/catsearch/vetement">
	      <img src="img/cloth.jpg">
	      <h2>Vetements</h2>
	      
	    </a>

	   	  <a class="item item-thumbnail-left" href="#/app/catsearch/chaus">
	      <img src="img/resized_shoe.jpg">
	      <h2>Chaussures</h2>
	      <p></p>
	      
	    </a>

	   <a class="item item-thumbnail-left" href="#/app/catsearch/bazin">
	      <img src="img/dress.jpg">
	      <h2>Bazin</h2>
	      <p></p>
	      
	    </a>

	   	<a class="item item-thumbnail-left" href="#/app/catsearch/books">
	      <img src="img/resized_book.jpg">
	      <h2>Livres</h2>
	      
	    </a>

	    <div class="spacer" style="height: 40px;"></div>
	    <div class="spacer" style="height: 40px;"></div>


   
      

    

    </ion-list>
  </ion-content>
</ion-view>