  <ion-view >


    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="do_login(user)" novalidate = "" name="loginForm">
            <ion-list>
           
                <label class="item item-input" >
                    <span class="input-label" >Nom d'utilisateur</span>
                    <input type="text" name="username" ng-minlength="5" ng-maxlength="20"ng-model="user.username" placeholder=""  required>
                    
                </label>

                  <div ng-messages="loginForm.username.$error" 
                    class="form-errors" ng-if="loginForm.username.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
                    </div>

                <label class="item item-input">
                    <span class="input-label "  >Mot de passe</span>
                    <input type="password"  name="password" ng-model="user.password" placeholder="" required>

                    
                </label>

                    <div ng-messages="loginForm.password.$error" class="form-errors" ng-if="loginForm.password.$touched">

                      <div class="form-error" ng-message="required">Ce champ est requis</div>
                    </div>
                </div>

                    <div class="form-error" ng-show="show_error">nom d'utilisateur et mot de passe ne correspond</div>


            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <input class="button button-balanced button-block" type="submit" value="s'identifier" ng-disabled="loginForm.$invalid">


           <!--  <p>{{user.username}}, {{user.password}}</p> -->
 </form>
          
            <button class="button button-positive button-block  icon-left ion-social-facebook" ng-click="authenticate('facebook')">Facebook</button>
<!--             <button class="button button-calm button-block  icon-left ion-social-twitter" ng-click="authenticate('twitter')">Twitter</button> -->
            <button class="button button-assertive button-block  icon-left ion-social-google" ng-click="authenticate('google')">Google</button> 
<!--             <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" class="button button-positive button-clear button-block ">Or create an account</a>

 --> 
 <a href="" class="button button-positive button-clear button-block " ng-click="send_signup()"> 
Inscrivez-vous ici</a>
       
    </ion-content>

  </ion-view>

