<ion-view view-title="Déconnecter">
  <ion-content>
<div class="row">
	<div class="col">
		    <h4>Êtes-vous certain de vouloir vous déconnecter</h4>

	</div>

</div>
            <div class="spacer" style="height: 40px;"></div>

	<div class="row">

	<div class="col col-50">
		<button class="button button-full button-balanced" ng-click="do_logout()">Qui</button>
	</div>
	<div class="col col-50">
		<button class="button button-full button-assertive" ng-click="cancel_logout()">Non</button>
	</div>
	</div>
  </ion-content>
</ion-view>