<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>





      </ion-nav-buttons>
      <ion-nav-buttons side="right">
         <button class="button button-icon button-clear ion-search" ng-click="send_search()">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent" cache-view="false"></ion-nav-view>
    <div class="bar bar-footer bar-positive">
<!--   <div class="title">
    
  </div> -->
    <div class="title">
    <p> <button ng-click = "send_create()" class="button button-small button-outline button-energized"> 
Créer Poster</button></p>
    
    
  </div>
</div>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Kadiel</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/homepage" class="item-icon-left">
          <i class="icon ion-home" ></i>Categorie
        </ion-item>
        <ion-item menu-close href="#/app/create" class="item-icon-left">
          <i class="icon ion-plus" ></i>Poster
        </ion-item>
        <ion-item menu-close href="#/app/profile" class="item-icon-left">
         <i class="icon ion-person" ></i>Votre Profile
     </ion-item>
<!--
        <ion-item menu-close href="#/app/addimgs/19" class="item-icon-left">
          imgs
        </ion-item> -->
        <ion-item menu-close href="#/app/settings" class="item-icon-left">
         <i class="icon ion-gear-b" ></i> Parametres
        </ion-item>

        
        <ion-item menu-close href="#/app/messages" class="item-icon-left">
         <i class="icon ion-email" ></i> Messages
        </ion-item>
<!--        <ion-item menu-close href="#/app/testimg" class="item-icon-left">
          Test
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
