<ion-view view-title="Messages">
  <ion-content>
  
		  <div class="list">

		  <a class="item item-icon-left" href="#/app/messages/inboxme">
		    <i class="icon ion-email-unread"></i>
		    Boîte e-mail
		  </a>

		  <a class="item item-icon-left" href="#/app/messages/outboxme">
		    <i class="icon ion-android-send"></i>
		    E-mail envoyé
		    
		  </a>

		  <a class="item item-icon-left" href="#/app/messages/trashme">
		    <i class="icon ion-trash-b"></i>
		    email supprimé
		  </a>


		</div>
    
  </ion-content>
</ion-view>
