<ion-view view-title="Visitez le site">
  <ion-content>
    <div class="list list-inset">

		<div class="item" ng-repeat = "item in data_list">
			<a href="/app/message/read/{{item.id}}"></a>{{item.title}}
		</div>
  	
  </div>

  </ion-content>
</ion-view>
