<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
        <div class="item" >
            <h2>Nom : {{user_info.username}}</h2>
            <h2>Email : {{user_info.email}}</h2>
            
        </div>
        <div class=" item">
            <div class="list">

                    <a class="item item-thumbnail-left" ng-repeat = "ad in user_ad_list" ng-click ="do_action(ad.id)">

                <img ng-if ="ad.imgs.img_1.image.main == null" src="http://kadiel.com/media/__sized__/__placeholder__/no_image400-thumbnail-400x400.jpg">
                   
                        <img ng-if = "ad.imgs.img_1.image.main !== null" ng-src="{{ad.imgs.img_1.image.main}}">
                    
                      
                      <h2>{{ad.ad.title}}</h2>
                      <p></p>
                    </a>

                    

            </div>
            
        </div>

        <div class="item">
            <div>
                <button class="button button-outline button-energized" ng-click="send_create()">Créer Publicité</button>
                
            </div>
            
        </div>

        
    </div>
  </ion-content>
</ion-view>