<ion-view view-title="Reserve">
  <ion-content>
  

  <div ng-show="show_place">

     <h2></h2>
    <p>réserver un billet <strong>{{event_info.ev_title}}</strong> </p>

    <p>prix est <strong>{{event_info.ev_price}}</strong></p>
    

    <div class="list list-inset">

    <form ng-submit="do_reserve(data)">
		  <label class="item item-input">
		    <input type="number" placeholder="Telephone" ng-model="data.tel">
		  </label>

		  <div class="spacer" style="height: 15px;"></div>

		  <input class="button button-balanced" type="submit" value="reserve"> </input>

	</form>


		  
</div>
  	
  </div>


  <dir ng-hide="show_place">
  <div class = "reserve_success">
    
        <p>Vous avez réservé un billet avec succès pour cet événement <strong>{{event_info.ev_title}} avec prix {{event_info.ev_price}}</strong></p>

        <p>Votre réserve est valable pour les deux prochaines heures</p>

        <p>Payer s'il vous plaît à l'orange sur ce numéro de téléphone</p>

        <p class="subdue">Important s'il vous plaît utiliser le numéro de téléphone que vous avez utilisé pour réserver le billet qui est <strong>{{data.tel}}</strong></p>

        <div class="row boxed">
          <div class="col-50"><p>79122222</p></div>
          <div class="col-50"><a ng-href="sms:7912222?body= prix {{event_info.ev_price}}"class="button button-small button-block button-outline button-balanced">Payer</button></a>
        </div>
        


  </div>



  </dir>
 
  </ion-content>
</ion-view>