<ion-view view-title="chercher">
  <ion-content>
    
    <!-- query strings -->
    <form ng-submit = "simple_search(content)">
    <ion-list>

   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" placeholder="search" ng-model="content.title" required/>
    </label>
    <button class="button button-small" type="submit">chercher</button>
  </div>
  </ion-list>
    </form>
    <!-- hide fileter -->
    <button ng-click="show_filter()" ng-show = "show_moi" class = "button button-small button-calm">
afficher les options</button>
    <div ng-show = "show_me">
    	<form ng-submit = "filter_search(content)">
    	<ion-list>
    			    <label class="item item-input item-select  ">
				    <div class="input-label">
				      Categorie
				    </div>
				    <select ng-model="content.category">
				      <option value="0"> Tout</option>
				      <option value="1">Telephone Portables</option>
				      <option value="2">Television</option>
				      <option value="3">Jeux Video</option>
				      <option value="4">Voitures</option>
				      <option value="5">Vetements</option>
				      <option value="6">Chaussures</option>
				      <option value="7">bazin</option>
				    </select>
				  </label>
			<label class="item item-input ">
			    <span class="input-label">prix min</span>
			    <input type="number" ng-model="content.minprice">
			  </label>
			 <label class="item item-input">
			    <span class="input-label">prix max</span>
			    <input type="number" ng-model="content.maxprice">
			  </label>
			      <button class="button"> Filtre</button>
    	</ion-list>

    		
    	</form>

    	<button ng-click = "hide_filter()" class = "button button-small button-calm">options de masquer</button>
    </div>
    <!-- results -->

    		<div class="list">

		    <a class="item item-thumbnail-left" ng-repeat = "ad in data track by ad.id" href="#/app/adpage/{{ad.id}}">

		<img ng-if ="ad.imgs.img_1.image.main == null" src="http://kadiel.com/media/__sized__/__placeholder__/no_image400-thumbnail-400x400.jpg">
		   
		    	<img ng-if = "ad.imgs.img_1.image.main !== null" ng-src="{{ad.imgs.img_1.image.main}}">
		    
		      
		      <h2>{{ad.ad.title}}</h2>
		      <p>Prix: {{ad.ad.ad_fields.price}}</p>
		    </a>

		    

		</div>
		<div class="spacer" style="height: 40px;"></div>
	<ion-infinite-scroll ng-if="do_load" icon="ion-loading-c" on-infinite="loadMoreData()">
	</ion-infinite-scroll>
		<div ng-show="check_empty">
			<p>Aucun résultat</p>
		</div>
  </ion-content>
</ion-view>
