<ion-view view-title="Browse">
  <ion-content>
    <div class="list card">
    	<h5>Réglages pour votre application</h5>
    	    <div ng-if="local_auth_status">
    	 <div class="spacer" style="height:20px;"></div>
    	<button class="button button-assertive button-block  icon-right ion-log-out" ng-click="signout()">déconnecterr</button>
    </div>
    </div>

  </ion-content>
</ion-view>