<ion-view>
<ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list" ng-submit="do_signup(info)" name="signupForm" ng-validate="">
            <ion-list>

                <label class="item item-input">
                    <span class="input-label">Nom d'utilisateur</span>
                    <input type="text" placeholder="" ng-model="info.username" maxlength="20" minlength="6" name="username" required>
                </label>
                 <div ng-messages="signupForm.username.$error" 
                    class="form-errors" ng-if="signupForm.username.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
                    </div>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input name="email" type="email" placeholder="" ng-model="info.email" required>
                </label>
                 <div ng-messages="signupForm.email.$error" 
                    class="form-errors" ng-if="signupForm.email.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
                    </div>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" name="password1" placeholder="" ng-model="info.password1" required>
                </label>
               <div ng-messages="signupForm.password1.$error" 
                    class="form-errors" ng-if="signupForm.password1.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
                    </div>
                <label class="item item-input">
                    <span class="input-label">Confirmez le mot de passe</span>
                    <input type="password" name="password2" placeholder="" ng-model="info.password2" required>
                </label>
             <div ng-messages="signupForm.password2.$error" 
                    class="form-errors" ng-if="signupForm.password2.$touched">
                      <div class="form-error" ng-message="required">Ce champ est requis</div>
             </div>
             <div class="form-error" ng-show="show_error"> {{errors.username}}</div>
             <div class="form-error" ng-show="show_error"> {{errors.password}}</div>
             <div class="form-error" ng-show="show_error"> {{errors.email}}</div>
           
            </ion-list>
            
            <button class="button button-balanced button-block " ng-disabled="signupForm.$invalid">S'inscrire</button>
        </form>
    </ion-content>


</ion-view>