<ion-view view-title="Browse">
  <ion-content>
    <button class="button" ng-click="test_img()">Test Click</button>
    <button class="button" ng-click="get_file()">Test Click</button>
  </ion-content>
</ion-view>