<ion-view view-title="Visitez le site">
  <ion-content>
  <hr/>
    <h2>Visitez le site</h2>
    <p>Cette fonction ne sont pas disponibles actuellement au momment.
Visitez Kadiel.com pour mettre à jour.</p>
    <a class="button button-positive button-block" href="http://www.kadiel.com">Kadiel site Internet</a>
  </ion-content>
</ion-view>
