/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}


.img_add 
{ max-width: 100%; }

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 20px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

#spaceMeEvent {
  margin-top: 20px;
}


.fluid-me{

  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  .fluid-me-child{
    display: inline-block;
    width: 47%;
    margin: 1%;
    float: left;
    border: 1px solid #999;
    background-color: rgba(132, 130, 130, 0.2);
    p {
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase;
    }

    img{
      display: block;
      height: 150px;
      width: 130px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}



.adpage{

  .item:first-child{
    background: rgba(132, 130, 130, 0.2);
    

    text-transform: uppercase;
    text-align: center;

    h2{
      text-decoration: underline;
      padding-bottom: 2px;

    }

    h3{


    }
  }

}

.reserve_success{
  background: rgba(132,130,130,0.2);
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin-left: -30px;
  color: blue;

  font-size: 20px;


  font-style: Helvetica;

  p:first-child{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
  }

  p:nth-child(4){
    color: red;
    padding-bottom: 20px;
    font-size: 12px
  }

  p:nth-child(2){
    padding-bottom: 30px;
    text-decoration: underline;
  }

  .boxed{
    height: 50px;
    width: 300px;
    position: relative;
    margin: 0 auto;


    p{
      text-align: center;
      margin: auto;
      padding-top: 15px;
      color: green;
    }
  }
}